<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PaymentActivity"></activity>
        <activity android:name=".FamilyNewActivity" />
        <activity android:name=".BudgetNewActivity" />
        <activity android:name=".FeedDeliveryActivity" />
        <activity android:name=".ShopCovidActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".FamilyActivity" />
        <activity android:name=".ShopLocationActivity" />
        <activity android:name=".ShopMainActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".FeedActivity" />
        <activity android:name=".SurveyBudgetActivity" />
        <activity android:name=".SurveyFamilyActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>